# Analysis of Countries with Most Highly Rated Coffee
**Data Source**
https://github.com/jldbc/coffee-quality-database/raw/master/data/arabica_data_cleaned.csv  
Data file size:   634 KB

The dataset contains reviews of 1311 arabica coffee beans and  from the Coffee Quality Institute's trained reviewers.  

Data was scrapped by github user 'jldbc' from CQI online database. Retrieved from https://github.com/jldbc/coffee-quality-database

This dataset represents the data about professionally rated coffee samples from all over the world. It has 1311 rows and 44 columns.

Some of the most important columns are Aroma, Flavor, Aftertaste, Acidity, Body, Balance, Uniformity, Clean.Cup, Sweetness, Cupper.Points, Total.Cup.Points, and Moisture.

These are all rated criteria that trained and certified coffee graders use to assess coffee quality. I am interested in this data because I huge fan of coffee. The world of coffee is incredibly diverse and I want to see how and where the best coffees fit in.

As the data was scrapped in 2018, I will compare the data with GDP for each country taken from the World Bank from the year 2018.
this dataset can be found here: https://data.worldbank.org/indicator/NY.GDP.MKTP.CD

#### Introduction
Coffee is a drink prepared by steeping the roasted, ground seed of the coffee cherries in hot water. It is drank widely around the world. There are a dizzying amount of retailers of coffee and coffee products available almost everywhere in the US. The discerning coffee drinker will want to have a great tasting coffee available to them. I want to see where the most highly rated coffees come from and if there is room for more coffee production in those countries.

There are distinct coffee characteristics considered when grading.

Aroma  
Flavor  
Aftertaste
Acidity  
Body  
Balance  
Uniformity  
Clean.Cup  
Sweetness  
Cupper.Points  
Total.Cup.Points  
Moisture

#### Objective
To discover which Countries score highest in terms of coffee quality, and where might be the best places to consider investing into in order to bring great coffee to the masses.

In [9]:
# Os dados do arquivo

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

# load .csv as a pandas dataframe
df = pd.read_csv('arabica_data_cleaned.csv')
# df_gdp = pd.read_csv(r'gdp.csv', skiprows=3)

In [10]:
# check characteristics of the data
df.head()

   Unnamed: 0  Species                     Owner Country.of.Origin                                 Farm.Name Lot.Number       Mill ICO.Number                                Company       Altitude        Region                               Producer  Number.of.Bags Bag.Weight                  In.Country.Partner Harvest.Year      Grading.Date                   Owner.1  Variety Processing.Method  Aroma  Flavor  Aftertaste  Acidity  Body  Balance  Uniformity  Clean.Cup  Sweetness  Cupper.Points  Total.Cup.Points  Moisture  Category.One.Defects  Quakers  Color  Category.Two.Defects        Expiration                  Certification.Body                     Certification.Address                     Certification.Contact unit_of_measurement  altitude_low_meters  altitude_high_meters  altitude_mean_meters
0           1  Arabica                 metad plc          Ethiopia                                 metad plc        NaN  metad plc  2014/2015      metad agricultural developmet plc      1950-2200  guji-hambela                              METAD PLC             300      60 kg  METAD Agricultural Development plc         2014   April 4th, 2015                 metad plc      NaN      Washed / Wet   8.67    8.83        8.67     8.75  8.50     8.42        10.0       10.0       10.0           8.75             90.58      0.12                     0      0.0  Green                     0   April 3rd, 2016  METAD Agricultural Development plc  309fcf77415a3661ae83e027f7e5f05dad786e44  19fef5a731de2db57d16da10287413f5f99bc2dd                   m               1950.0                2200.0                2075.0
1           2  Arabica                 metad plc          Ethiopia                                 metad plc        NaN  metad plc  2014/2015      metad agricultural developmet plc      1950-2200  guji-hambela                              METAD PLC             300      60 kg  METAD Agricultural Development plc         2014   April 4th, 2015                 metad plc    Other      Washed / Wet   8.75    8.67        8.50     8.58  8.42     8.42        10.0       10.0       10.0           8.58             89.92      0.12                     0      0.0  Green                     1   April 3rd, 2016  METAD Agricultural Development plc  309fcf77415a3661ae83e027f7e5f05dad786e44  19fef5a731de2db57d16da10287413f5f99bc2dd                   m               1950.0                2200.0                2075.0
2           3  Arabica  grounds for health admin         Guatemala  san marcos barrancas "san cristobal cuch        NaN        NaN        NaN                                    NaN  1600 - 1800 m           NaN                                    NaN               5          1        Specialty Coffee Association          NaN    May 31st, 2010  Grounds for Health Admin  Bourbon               NaN   8.42    8.50        8.42     8.42  8.33     8.42        10.0       10.0       10.0           9.25             89.75      0.00                     0      0.0    NaN                     0    May 31st, 2011        Specialty Coffee Association  36d0d00a3724338ba7937c52a378d085f2172daa  0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660                   m               1600.0                1800.0                1700.0
3           4  Arabica       yidnekachew dabessa          Ethiopia     yidnekachew dabessa coffee plantation        NaN    wolensu        NaN  yidnekachew debessa coffee plantation      1800-2200        oromia  Yidnekachew Dabessa Coffee Plantation             320      60 kg  METAD Agricultural Development plc         2014  March 26th, 2015       Yidnekachew Dabessa      NaN     Natural / Dry   8.17    8.58        8.42     8.42  8.50     8.25        10.0       10.0       10.0           8.67             89.00      0.11                     0      0.0  Green                     2  March 25th, 2016  METAD Agricultural Development plc  309fcf77415a3661ae83e027f7e5f05dad786e44  19fef5a731de2db57d16da10287413f5f99bc2dd                   m               1800.0                2200.0                2000.0
4           5  Arabica                 metad plc          Ethiopia                                 metad plc        NaN  metad plc  2014/2015      metad agricultural developmet plc      1950-2200  guji-hambela                              METAD PLC             300      60 kg  METAD Agricultural Development plc         2014   April 4th, 2015                 metad plc    Other      Washed / Wet   8.25    8.50        8.25     8.50  8.42     8.33        10.0       10.0       10.0           8.58             88.83      0.12                     0      0.0  Green                     2   April 3rd, 2016  METAD Agricultural Development plc  309fcf77415a3661ae83e027f7e5f05dad786e44  19fef5a731de2db57d16da10287413f5f99bc2dd                   m               1950.0                2200.0                2075.0

In [11]:
# concise summary of index dtype and columns, non-null values, and memory usage
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1311 entries, 0 to 1310
Data columns (total 44 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             1311 non-null   int64
 1   Species                1311 non-null   object
 2   Owner                  1304 non-null   object
 3   Country.of.Origin      1310 non-null   object
 4   Farm.Name              955 non-null    object
 5   Lot.Number             270 non-null    object
 6   Mill                   1001 non-null   object
 7   ICO.Number             1163 non-null   object
 8   Company                1102 non-null   object
 9   Altitude               1088 non-null   object
 10  Region                 1254 non-null   object
 11  Producer               1081 non-null   object
 12  Number.of.Bags         1311 non-null   int64
 13  Bag.Weight             1311 non-null   object
 14  In.Country.Partner     1311 non-null   object
 15  Harvest.Year           1264 non-null   object
 16  Grading.Date           1311 non-null   object
 17  Owner.1                1304 non-null   object
 18  Variety                1110 non-null   object
 19  Processing.Method      1159 non-null   object
 20  Aroma                  1311 non-null   float64
 21  Flavor                 1311 non-null   float64
 22  Aftertaste             1311 non-null   float64
 23  Acidity                1311 non-null   float64
 24  Body                   1311 non-null   float64
 25  Balance                1311 non-null   float64
 26  Uniformity             1311 non-null   float64
 27  Clean.Cup              1311 non-null   float64
 28  Sweetness              1311 non-null   float64
 29  Cupper.Points          1311 non-null   float64
 30  Total.Cup.Points       1311 non-null   float64
 31  Moisture               1311 non-null   float64
 32  Category.One.Defects   1311 non-null   int64
 33  Quakers                1310 non-null   float64
 34  Color                  1044 non-null   object
 35  Category.Two.Defects   1311 non-null   int64
 36  Expiration             1311 non-null   object
 37  Certification.Body     1311 non-null   object
 38  Certification.Address  1311 non-null   object
 39  Certification.Contact  1311 non-null   object
 40  unit_of_measurement    1311 non-null   object
 41  altitude_low_meters    1084 non-null   float64
 42  altitude_high_meters   1084 non-null   float64
 43  altitude_mean_meters   1084 non-null   float64
dtypes: float64(16), int64(4), object(24)
memory usage: 450.8+ KB

# The data and some discrepancies
The dataframe has 44 columns and 1311 rows. The data itself is stored in float, int, or object data types.

The data for the scoring the coffee all appears to be present (Columns 20-32 and 35)

There are some discrepancies regarding details about the data like Farm.Name, Lot.Number, Company, Producer

While these are important data they are not immediately relevant to the stated objective.

In [12]:
# Converting the data type base on the contents of the column.

df = df.convert_dtypes()
df.dtypes

Unnamed: 0                        Int64
Species                  string[python]
Owner                    string[python]
Country.of.Origin        string[python]
Farm.Name                string[python]
Lot.Number               string[python]
Mill                     string[python]
ICO.Number               string[python]
Company                  string[python]
Altitude                 string[python]
Region                   string[python]
Producer                 string[python]
Number.of.Bags                    Int64
Bag.Weight               string[python]
In.Country.Partner       string[python]
Harvest.Year             string[python]
Grading.Date             string[python]
Owner.1                  string[python]
Variety                  string[python]
Processing.Method        string[python]
Aroma                           Float64
Flavor                          Float64
Aftertaste                      Float64
Acidity                         Float64
Body                            Float64
Balance                         Float64
Uniformity                      Float64
Clean.Cup                       Float64
Sweetness                       Float64
Cupper.Points                   Float64
Total.Cup.Points                Float64
Moisture                        Float64
Category.One.Defects              Int64
Quakers                           Int64
Color                    string[python]
Category.Two.Defects              Int64
Expiration               string[python]
Certification.Body       string[python]
Certification.Address    string[python]
Certification.Contact    string[python]
unit_of_measurement      string[python]
altitude_low_meters             Float64
altitude_high_meters            Float64
altitude_mean_meters            Float64
dtype: object

In [13]:
# checking to see if all are of the same species being considered
# expect to see only arabica beans
df['Species'].value_counts()

Species
Arabica    1311
Name: count, dtype: Int64

In [14]:
# Resizing the data frame to show desired features

# slicing dataframe to contain country and grading characteristics
countries = df.loc[:,'Country.of.Origin']
df_ratings = pd.concat([df['Country.of.Origin'] ,df.loc[:, 'Aroma':'Category.One.Defects' ],df['Category.Two.Defects'] ], axis= 1)

print(df_ratings.info())
print(df_ratings.shape)

df_ratings

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1311 entries, 0 to 1310
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Country.of.Origin     1310 non-null   string
 1   Aroma                 1311 non-null   Float64
 2   Flavor                1311 non-null   Float64
 3   Aftertaste            1311 non-null   Float64
 4   Acidity               1311 non-null   Float64
 5   Body                  1311 non-null   Float64
 6   Balance               1311 non-null   Float64
 7   Uniformity            1311 non-null   Float64
 8   Clean.Cup             1311 non-null   Float64
 9   Sweetness             1311 non-null   Float64
 10  Cupper.Points         1311 non-null   Float64
 11  Total.Cup.Points      1311 non-null   Float64
 12  Moisture              1311 non-null   Float64
 13  Category.One.Defects  1311 non-null   Int64
 14  Category.Two.Defects  1311 non-null   Int64
dtypes: Float64(12), Int64(2), string(1)
memory usage: 171.7 KB
None
(1311, 15)

     Country.of.Origin  Aroma  Flavor  Aftertaste  Acidity  Body  Balance  Uniformity  Clean.Cup  Sweetness  Cupper.Points  Total.Cup.Points  Moisture  Category.One.Defects  Category.Two.Defects
0             Ethiopia   8.67    8.83        8.67     8.75   8.5     8.42        10.0       10.0       10.0           8.75             90.58      0.12                     0                     0
1             Ethiopia   8.75    8.67         8.5     8.58  8.42     8.42        10.0       10.0       10.0           8.58             89.92      0.12                     0                     1
2            Guatemala   8.42     8.5        8.42     8.42  8.33     8.42        10.0       10.0       10.0           9.25             89.75       0.0                     0                     0
3             Ethiopia   8.17    8.58        8.42     8.42   8.5     8.25        10.0       10.0       10.0           8.67              89.0      0.11                     0                     2
4             Ethiopia   8.25     8.5        8.25      8.5  8.42     8.33        10.0       10.0       10.0           8.58             88.83      0.12                     0                     2
...                ...    ...     ...         ...      ...   ...      ...         ...        ...        ...            ...               ...       ...                   ...                   ...
1306            Mexico   7.08    6.83        6.25     7.42  7.25     6.75        10.0        0.0       10.0           6.75             68.33      0.11                     0                    20
1307             Haiti   6.75    6.58        6.42     6.67  7.08     6.67        9.33        6.0        6.0           6.42             67.92      0.14                     8                    16
1308         Nicaragua   7.25    6.58        6.33     6.25  6.42     6.08         6.0        6.0        6.0           6.17             63.08      0.13                     1                     5
1309         Guatemala    7.5    6.67        6.67     7.67  7.33     6.67         8.0       1.33       1.33           6.67             59.83       0.1                     0                     4
1310          Honduras    0.0     0.0         0.0      0.0   0.0      0.0         0.0        0.0        0.0            0.0               0.0      0.12                     0                     2

[1311 rows x 15 columns]

In [15]:
# All in all its looking good. There is one unidentified country.

# Which entry does not have country of origin?
df_ratings[df_ratings.isna().any(axis=1)]

     Country.of.Origin  Aroma  Flavor  Aftertaste  Acidity  Body  Balance  Uniformity  Clean.Cup  Sweetness  Cupper.Points  Total.Cup.Points  Moisture  Category.One.Defects  Category.Two.Defects
1197              <NA>   6.75    6.75        6.42     6.83  7.58      7.5        10.0       10.0       10.0           7.25             79.08       0.1                     0                     3

In [16]:
# The only discernible field that can identify the coffee is in the Owner column. 
# As the country of origin is critical to my observation it is better to drop the row
# than keep it and have it muddy the values.

df_ratings = df_ratings.dropna()

In [17]:
# checking dataframe consistency by sampling random columns
df_ratings.sample(12)

           Country.of.Origin  Aroma  Flavor  Aftertaste  Acidity  Body  Balance  Uniformity  Clean.Cup  Sweetness  Cupper.Points  Total.Cup.Points  Moisture  Category.One.Defects  Category.Two.Defects
1258                  Mexico   7.08     7.0         7.0     7.25  7.33     7.25        8.67       8.67       10.0           6.92             77.17      0.12                     1                    11
91    United States (Hawaii)   7.58    7.83        7.83     7.92  7.83     8.17        10.0       10.0       10.0           7.92             85.08      0.11                     2                     2
169                   Brazil   7.81    7.81        7.88     7.75  7.38     8.25         9.5       10.0       10.0           8.13              84.5       0.0                     0                     4
945                   Mexico   7.42    7.33        7.25     7.17  7.25     7.42        10.0       10.0       10.0           7.58             81.42      0.13                     1                     8
1164                Thailand   7.17    7.17         7.0      7.0  7.25     6.92        10.0       10.0       10.0           7.17             79.67       0.0                     1                     0
132               Costa Rica   7.67    7.58        7.75     7.75  7.67     8.58        10.0       10.0       10.0           7.67             84.67      0.08                     0                     1
69                 Guatemala    8.0    7.83        7.67     8.33  7.83      8.0        10.0       10.0       10.0           7.83              85.5      0.11                     0                     1
780                   Brazil   7.25    7.25        7.58     7.58  7.25     7.92        10.0       10.0       10.0           7.25             82.08       0.0                     0                     1
476              El Salvador   7.42    7.83        8.17     8.08  7.17     7.58        10.0       9.33       10.0           7.58             83.17      0.14                     0                     3
230                   Uganda   7.83    7.75         7.5     7.83  7.83     7.75        10.0       10.0       10.0           7.67             84.17      0.11                     0                     1
710               Costa Rica   7.75    7.33         7.5      7.5  7.33     7.58        10.0       10.0       10.0           7.33             82.33       0.0                     0                     0
570                 Colombia    7.5    7.42        7.58      7.5  7.58     7.58        10.0       10.0       10.0           7.67             82.83       0.0                     4                     4

In [18]:
# checking countries to see if there are any other unexpected values
df_ratings['Country.of.Origin'].value_counts()

Country.of.Origin
Mexico                          236
Colombia                        183
Guatemala                       181
Brazil                          132
Taiwan                           75
United States (Hawaii)           73
Honduras                         53
Costa Rica                       51
Ethiopia                         44
Tanzania, United Republic Of     40
Thailand                         32
Nicaragua                        26
Uganda                           26
Kenya                            25
El Salvador                      21
Indonesia                        20
China                            16
Malawi                           11
Peru                             10
United States                     8
Myanmar                           8
Vietnam                           7
Haiti                             6
Philippines                       5
United States (Puerto Rico)       4
Panama                            4
Laos                              3
Burundi                           2
Papua New Guinea                  1
Ecuador                           1
Japan                             1
Rwanda                            1
Zambia                            1
Mauritius                         1
Cote d?Ivoire                     1
India                             1
Name: count, dtype: Int64

While everything seems to be in order when trying to make a general assessment of the kind  
and quality of coffee being produced in a given region its better to have a larger sample size  
to compare against. It is better if we drop the countries listed that have fewer than 10 rated samples.

In [19]:
counts = df_ratings['Country.of.Origin'].value_counts()
df_cleaned = df_ratings[df_ratings['Country.of.Origin'].isin(counts.index[counts>=10])]

df_cleaned['Country.of.Origin'].value_counts()

Country.of.Origin
Mexico                          236
Colombia                        183
Guatemala                       181
Brazil                          132
Taiwan                           75
United States (Hawaii)           73
Honduras                         53
Costa Rica                       51
Ethiopia                         44
Tanzania, United Republic Of     40
Thailand                         32
Nicaragua                        26
Uganda                           26
Kenya                            25
El Salvador                      21
Indonesia                        20
China                            16
Malawi                           11
Peru                             10
Name: count, dtype: Int64

In [20]:
# preparing to add gdp for 2018 to my dataframe
df_gdp = df_gdp[['Country Name', '2018']]
df_gdp = df_gdp.rename(columns={"Country Name": "Country.of.Origin", "2018": "GDP"})

NameError: name 'df_gdp' is not defined

In [21]:
# make sure that names match dataframes to prevent data loss
df_cleaned = df_cleaned.replace({'United States (Hawaii)': 'United States', 'Tanzania, United Republic Of' : 'Tanzania' })
print(df_cleaned.shape)
df_cleaned['Country.of.Origin'].value_counts()

(1255, 15)

Country.of.Origin
Mexico           236
Colombia         183
Guatemala        181
Brazil           132
Taiwan            75
United States     73
Honduras          53
Costa Rica        51
Ethiopia          44
Tanzania          40
Thailand          32
Nicaragua         26
Uganda            26
Kenya             25
El Salvador       21
Indonesia         20
China             16
Malawi            11
Peru              10
Name: count, dtype: Int64

In [22]:
df_merged = pd.merge(df_cleaned, df_gdp, on='Country.of.Origin', how='inner')
print(df_merged.shape)
df_merged

NameError: name 'df_gdp' is not defined

In [23]:
# check for min and max values
print('{0:30}'.format(''),'{0:30}'.format('min'), 'max')

for _ in df_merged.loc[:, 'Aroma':]:
    minmax = [df_merged[_].min(), df_merged[_].max()]
    print('{0:30}'.format(_+':'), minmax[0],'{0:30}'.format(minmax[1]) )

                               min                            max

NameError: name 'df_merged' is not defined

In [ ]:
df_ratings_grouped = df_merged.groupby('Country.of.Origin')

In [24]:
details_by_country = df_ratings_grouped.describe()
details_by_country

NameError: name 'df_ratings_grouped' is not defined

In [25]:
mean_by_country = df_ratings_grouped.mean()
for category in mean_by_country:
    # print(category[0]+'\n',details_by_country[category[0]][category[1]])
    mean_by_country[category].plot(kind='bar',color='green')
    plt.title(category,fontweight="bold")
    plt.xlabel('Country',fontsize=13)
    plt.ylabel('Score',fontsize=13)
    plt.show()
# mean_by_country

NameError: name 'df_ratings_grouped' is not defined